*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg,#f6d365,#fda085);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}
header{
    font-size:15px;
    font-style: italic;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input,form button{
    padding:0.5rem;
    font-size: 2rem;
    border:none;
    background:white;
    border-radius: 5px;
}
form button{
    cursor: pointer;
    background:white;
    color:#d88771;
    transition:all 0.3s ease;
}
form button:hover{
    background:#d88771;
    color:white;
}